<!DOCTYPE html>
<html>
 {% include 'header' %}
 <body>
  <div class="main">
   {% include 'spacer' %}
   {% include 'heading' %}
   {% include 'spacer' %}
   <div class="content">
    {% include 'spacer' %}
    {{ page.content }}
    {% include 'spacer' %}
   </div>
   {% include 'spacer' %}
  </div>
  {% include 'scripts' %}
 </body>
</html>