<!DOCTYPE html>
<html>
 {% include 'header' %}
 <body>
  <div class="main">
   {% include 'spacer' %}
   {% include 'heading' %}
   {% include 'spacer' %}
   <div class="content">
    {{ page.content }}
   </div>
   {% include 'spacer' %}
  </div>
 </body>
</html>