@import 'vars';
img.pfp {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 6px solid $font-color;
    box-shadow: 1px 2px 15px $shadow-color;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
div.spacer {
    height: 30px;
    width: 100%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
h1.title {
    text-align: center;
    font-family: $headingFont;
    font-size: 40px;
    color: $font-color;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 0px;
}
p.subtitle {
    text-align: center;
    font-family: $headingFont;
    font-size: 25px;
    color: $font-color;
    margin: 0px;
    padding: 0px;
}
div.content {
    width: 100%;
    border-radius: 5px;
    background-color: $div-color;
    box-shadow: 1px 2px 15px $shadow-color;
    padding: 0px;
    margin: 0px;
}
h2.postTitle {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    color: $font-color;
    font-size: 30px;
    font-family: $headingFont;
}
hr.separator {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 5px;
    border: none;
    background-color: $font-color;
}
p.postDescription {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    color: $font-color;
    font-size: 25px;
    font-family: $contentFont;
}
p.postLink {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px;
    color: $font-color;
    font-size: 25px;
    font-family: $headingFont;
}
a.postLink {
    padding: 0px;
    margin: 0px;
    color: $font-color;
    font-size: 25px;
    font-family: $headingFont;
    transition-duration: 0.6s;
}
a.postLink:hover {
    color: $hoverColor;
}

h2,h3,h4,h5 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0px;
    color: $font-color;
    font-family: $headingFont;
}
h2 {font-size: 35px;}
h3 {font-size: 32px;}
h4 {font-size: 29px;}
h5 {font-size: 26px;}

p {
    color: $font-color;
    font-family: $contentFont;
    margin: 0px;
    font-size: 23px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
a {
    color: $font-color;
    font-family: $contentFont;
    margin: 0px;
    font-size: 23px;
    padding: 0px;
    text-decoration: underline;
}

ul {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0px;
}
li {
    padding-bottom: 10px;
    color: $font-color;
    font-family: $contentFont;
    margin: 0px;
    font-size: 23px;
}
li:before {
    content: '-';
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
code {
    background-color: $code-color;
    font-size: 20px;
    font-family: $codeFont;
    color: $font-color;
    padding: 5px;
    margin: 0px;
}
pre {
    background-color: $code-color;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 15px $shadow-color;
    overflow-x: scroll;
    padding: 10px;
}