@import 'vars';
html {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
body {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: var(--body-bg);
}
div.main {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px;
    background-color: transparent;
}